name: Release

on:
  release:
    types: [published]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
        pip install -e .[dev]
    - name: Run tests
      run: |
        pytest
    - name: Build package
      run: |
        python -m build
    - name: Check distribution
      run: |
        python -m twine check --strict dist/*
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/

  pypi-publish:
    name: Upload release to PyPI
    needs: test-and-build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/mermaid-trace
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: dist
        path: dist/
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
